# URL base da API do backend.
# Ou para localmente substitua pelo endereço IP da máquina onde o servidor está rodando.
# Exemplo: http://<SEU_IP_LOCAL>:<PORTA>
EXPO_API_BASE_URL="http://192.168.12.105:3333"